/* Author : Ananthu A S */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 50px;
    color: #1c6758;
    font-style: oblique;
}
sup {
    color: #f96666;
    font-size: large;
}
.mandatory {
    color: #f96666;
}
.bg_container {
    min-height: 100vh;
    background-image: linear-gradient(to right, #1c6758, #3d8361);
}
.bg_form {
    background-color: #b1d7b4;
    width: fit-content;
    height: auto;
}
.frm > div {
    margin-bottom: 10px;
}
.frm > div label {
    font-size: 18px;
    font-weight: 700;
    border: none;
    color: #1a4d2e;
}
